<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1" />
<meta name="keywords" content="oddbrain, BrokenBookshelf, 本棚, 蔵書管理">
<title>Book Details | BrokenBookshelf</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.1.min.js"></script>
<script>
(function (window, document) {
var menu = document.getElementById('menu'),
    WINDOW_CHANGE_EVENT = ('onorientationchange' in window) ? 'orientationchange':'resize';

function toggleHorizontal() {
    [].forEach.call(
        document.getElementById('menu').querySelectorAll('.custom-can-transform'),
        function(el){
            el.classList.toggle('pure-menu-horizontal');
        }
    );
};

function toggleMenu() {
    // set timeout so that the panel has a chance to roll up
    // before the menu switches states
    if (menu.classList.contains('open')) {
        setTimeout(toggleHorizontal, 500);
    }
    else {
        toggleHorizontal();
    }
    menu.classList.toggle('open');
    document.getElementById('toggle').classList.toggle('x');
};

function closeMenu() {
    if (menu.classList.contains('open')) {
        toggleMenu();
    }
}

document.getElementById('toggle').addEventListener('click', function (e) {
    toggleMenu();
});

window.addEventListener(WINDOW_CHANGE_EVENT, closeMenu);
})(this, this.document);

</script>
</head>
<body>
<div id="wrap">
	<div class="custom-wrapper pure-g" id="menu">
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="pure-menu">
				<a href="#" class="pure-menu-heading custom-brand">BrokenBookshelf</a>
				<a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="pure-menu pure-menu-horizontal custom-can-transform">
				<ul class="pure-menu-list">
					<li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
					<li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
					<li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
				</ul>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="pure-menu pure-menu-horizontal custom-menu-3 custom-can-transform">
				<ul class="pure-menu-list">
					<li class="pure-menu-item"><a href="#" class="pure-menu-link">Yahoo</a></li>
					<li class="pure-menu-item"><a href="#" class="pure-menu-link">W3C</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="pure-g">
		<div class="pure-u-1-4">
			<img src="noimage-200x200.jpg"  alt="thumb" class="pure-img" />
		</div>
		<div class="pure-u-1-2 book-detail">
			<h2>Book Title</h2>
			<span class="share-star">
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star-half-o" aria-hidden="true"></i>
				<i class="fa fa-star-o" aria-hidden="true"></i>
				3.7
			</span>
			<a href="#">12件のコメント</a>
			<hr />
			
			<p>価格：<span class="status color-price">\1,296円</span></p>
			<p class="status">蔵書：<span class="status color-success">あり</span> / <span class="status color-state">貸し出し中</span> / <span class="status color-price">なし</span> / 処分</p>
			
			<p>この書籍は、<a href="#">110-1</a>にあります。</p>
		</div>
		<div class="pure-u-1-4 book-detail">
			<div class="cart-box">
				<a class="pure-button pure-button-primary" href="#">
					<i class="fa fa-book" aria-hidden="true"></i>
					貸し出し
				</a>
				<a class="pure-button" href="#">
					<i class="fa fa-file-text-o" aria-hidden="true"></i>
					電子書籍を読む
				</a>
				<hr />
				<a class="pure-button" href="#">
					<i class="fa fa-shopping-cart fa-lg"></i>
					Amazonで購入する
				</a>
			</div>
		</div>
	</div>
	<h3>書籍の情報</h3>
	<hr />
	<div class ="item-container">
		<details>
		<summary>Book detail Provided by AmazonAPI</summary>
		<dl>
			<dt>Actor:</dt>
			<dt>Artist:</dt>
			<dt>AsdtectRatio:</dt>
			<dt>audiencerating</dt>
			<dt>audioformat</dt>
			<dt>author</dt>
			<dt>binding</dt>
			<dt>brand</dt>
			<dt>category</dt>
			<dt>ceroagerating</dt>
			<dt>ean</dt>
			<dt>edition</dt>
			<dt>eanlist_eanlistelement</dt>
			<dt>eanlist</dt>
			<dt>eisbn</dt>
			<dt>director</dt>
			<dt>color</dt>
			<dt>dedtartment</dt>
			<dt>clothingsize</dt>
			<dt>reator</dt>
			<dt>creator_role</dt>
			<dt>mdtn</dt>
			<dt>numberofdiscs</dt>
			<dt>numberofissues</dt>
			<dt>numberofitems</dt>
			<dt>dtublicationdate</dt>
			<dt>numberoftracks</dt>
			<dt>odteratingsystem</dt>
			<dt>dtackagequantity</dt>
			<dt>dtartnumber</dt>
			<dt>dtlatform</dt>
			<dt>dtroductgroudt</dt>
			<dt>dtroducttydtesubcategory</dt>
			<dt>numberofdtages</dt>
			<dt>runningtime</dt>
			<dt>regioncode</dt>
			<dt>releasedate</dt>
			<dt>seikododtroductcode</dt>
			<dt>size</dt>
			<dt>sku</dt>
			<dt>studio</dt>
			<dt>subscridttionlength</dt>
			<dt>title</dt>
			<dt>tradeinvalue</dt>
			<dt>udtc</dt>
			<dt>udtclist</dt>
			<dt>udtclist_udtclistelement</dt>
			<dt>warranty</dt>
			<dt>mediatydte</dt>
			<dt>model</dt>
			<dt>itemdimensions_length</dt>
			<dt>manufacturerdtertswarrantydescridttion</dt>
			<dt>itemdimensions</dt>
			<dt>edtisodesequence</dt>
			<dt>esrbagerating</dt>
			<dt>feature</dt>
			<dt>format</dt>
			<dt>genre</dt>
			<dt>hardwaredtlatform</dt>
			<dt>hazardousmaterialtydte</dt>
			<dt>isadaltdtroduct</dt>
			<dt>isautograadthed</dt>
			<dt>isbn</dt>
			<dt>iseligiblefortradein</dt>
			<dt>ismemorabilia</dt>
			<dt>issuesdteryear</dt>
			<dt>itemdimensions_height</dt>
			<dt>manufacturerminimumage</dt>
			<dt>itemdimensions_weight</dt>
			<dt>itemdimensions_width</dt>
			<dt>itemdtartnumber</dt>
			<dt>label</dt>
			<dt>languages</dt>
			<dt>languages_language</dt>
			<dt>languages_language_name</dt>
			<dt>languages_language_tydte</dt>
			<dt>languages_language_audio</dt>
			<dt>legaldisclaimer</dt>
			<dt>listdtrice</dt>
			<dt>manufacturer</dt>
			<dt>manufacturermaximumage</dt>
			<dt>weeetaxvalue</dt>
		</dl>
		</details>
	</div>
	<hr />
	<h3>関連度の高い書籍</h3>
	<div class="pure-g cf item-container">
		<div class="pure-u-1-5">
			<img class="cf-book-thumb" src="noimage-200x200.jpg"/>
			<p>cf-book-title</p>
		</div>
		<div class="pure-u-1-5">
			<img class="cf-book-thumb" src="noimage-200x200.jpg"/>
			<p>cf-book-title</p>
		</div>
		<div class="pure-u-1-5">
			<img class="cf-book-thumb" src="noimage-200x200.jpg"/>
			<p>cf-book-title</p>
		</div>
		<div class="pure-u-1-5">
			<img class="cf-book-thumb" src="noimage-200x200.jpg"/>
			<p>cf-book-title</p>
		</div>
		<div class="pure-u-1-5">
			<img class="cf-book-thumb" src="noimage-200x200.jpg"/>
			<p>cf-book-title</p>
		</div>
	</div>
</div>
</body>
</html>
