<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1" />
<meta name="keywords" content="oddbrain, BrokenBookshelf, 本棚, 蔵書管理">
<title>BrokenBookshelf</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/pure/0.6.2/pure-min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="system-style.css">
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.1.min.js"></script>
</head>
<body>
<div id="wrap">
	<div class="custom-wrapper pure-g header" id="menu">
		<div class="pure-u-1-5 pure-u-md-1-5">
			<div class="pure-menu">
				<a href="/" class="pure-menu-heading custom-brand">
					<img src="./logo_header__full__w.png" alt="BrokenBookshelf" />
				</a>
			</div>
		</div>
	</div>
		<div class="pure-u-3-5 pure-u-md-3-5">
			<div class="pure-menu-heading">
				<h1 class="b-font-i-2 b-font-ls-1">Welcome back.</h1>
				<form class="pure-form pure-form-aligned form-login" method="post" action="../controller//login/loginCtrl.php">
					<fieldset>
						<div class="pure-u-1-2">
							<div class="pure-control-group">
								<label for="username">LoginID:</label>
								<input name="loginId" type="text" placeholder="LoginID">
							</div>
					
							<div class="pure-control-group">
								<label for="password">Password:</label>
								<input name="password" type="password" placeholder="Password">
							</div>
						</div>
						<div class="pure-u-1-2">
							<button class="button-xlarge pure-button button-10 buttom-m-v-05 button-m-h-center">
								<i class="fa fa-user-plus" aria-hidden="true"></i>
								登録
							</button>
							<br />
							<button type="submit" class="pure-button pure-button-primary button-xlarge button-10">
								<i class="fa fa-sign-in" aria-hidden="true"></i>
								ログイン
							</button>
							<br />
							<a href="#" title="forgot" class="b-font-80">Forgot Username or Password.</a>
						</div>
						</fieldset>
					</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>