<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1" />
<meta name="keywords" content="oddbrain, BrokenBookshelf, 本棚, 蔵書管理">
<title>Setup -Confirm | BrokenBookshelf</title>
<link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="system-style.css">
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.1.min.js"></script>
</head>
<body>
<h1 class="">BrokenBookshelf インストール</h1>
<p>インストールが完了しました</p>
<p>
	<a href="#" title="ログインページへ">トップページへ移動する</a>
</p>
</body>
</html>
