<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1" />
<meta name="keywords" content="oddbrain, BrokenBookshelf, 本棚, 蔵書管理">
<title>Setup | BrokenBookshelf</title>
<link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="system-style.css">
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.1.min.js"></script>
</head>
<body>
<h1 class="">BrokenBookshelf インストール</h1>
<p>データベースのセットアップ</p>
<form class="pure-form pure-form-aligned">
    <fieldset>
<p>データベースの作成</p>
        <div class="pure-control-group">
            <label for="name">データベースの名前</label>
            <input id="name" type="text" placeholder="DB Name">
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
            <label for="name">データベースのユーザー</label>
            <input id="name" type="text" placeholder="DB User">
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
            <label for="password">データベースのパスワード</label>
            <input id="password" type="password" placeholder="DB Password">
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

<p>ユーザーの作成</p>

        <div class="pure-control-group">
            <label for="name">名前</label>
            <input id="name" type="text" placeholder="User Name">
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
            <label for="name">メールアドレス</label>
            <input id="name" type="text" placeholder="Email">
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
            <label for="password">パスワード</label>
            <input id="password" type="password" placeholder="DB Password">
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">確認</button>
        </div>
    </fieldset>
</form>

</body>
</html>
