<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1" />
<meta name="keywords" content="oddbrain, BrokenBookshelf, 本棚, 蔵書管理">
<title>Setup -Confirm | BrokenBookshelf</title>
<link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="system-style.css">
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.1.min.js"></script>
</head>
<body>
<h1 class="">BrokenBookshelf インストール</h1>
<p>セットアップの確認</p>
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">データベースの名前</label>
            <span>DB Name</span>
        </div>

        <div class="pure-control-group">
            <label for="name">データベースのユーザー</label>
            <span>DB User</span>
        </div>

        <div class="pure-control-group">
            <label for="password">データベースのパスワード</label>
            <span>DB Password</span>
        </div>
        <div class="pure-control-group">
            <label for="name">名前</label>
            <span>User Name</span>
        </div>

        <div class="pure-control-group">
            <label for="name">メールアドレス</label>
            <span>mail@yourdomain.com</span>
        </div>

        <div class="pure-control-group">
            <label for="password">パスワード</label>
            <span>Password</span>
        </div>

        <div class="pure-controls">
            <button type="back" class="pure-button pure-button">戻る</button>
            <button type="submit" class="pure-button pure-button-primary">インストール</button>
        </div>
    </fieldset>
</form>

</body>
</html>
