@charset "utf-8";

html,body {
	margin:0;
	padding:0;
	background-color:#fff;
	color:#333;
	height: 100%;
	/*	background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
		background-color:#282828;
		background-size:16px 16px;
*/
}

h1 {
	width:100%;
}

/*----PURE----*/
.pure-button {
	user-select        : none;
	-o-user-select     : none;
	-moz-user-select   : none;
	-ms-user-select    : none;
	-webkit-user-select: none;
}

.button-xsmall {
	font-size: 70%;
}

.button-small {
	font-size: 85%;
}

.button-large {
	font-size: 110%;
}

.button-xlarge {
	font-size: 125%;
}
.pure-u-1, .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-5-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-2-24, .pure-u-3-24, .pure-u-4-24, .pure-u-5-24, .pure-u-6-24, .pure-u-7-24, .pure-u-8-24, .pure-u-9-24, .pure-u-10-24, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24 {
	box-sizing:border-box;
}

/*----CUSTOM----*/

	/*----1.0 color----*/
a {
	color:#249bff;
}
.color-main {
	color:#249b53 !important;
}
.color-accent {
	color:#f30046 !important;
}
	/*----1.1 background-color----*/
.bgcolor-base {
	background-color:#fff;
}
.bgcolor-main {
	background-color:#eee;
}
.bgcolor-accent {
	background-color:#fdd;
}
	/*----1.2 font-size----*/
.fontsize-08 {
	font-size:.8em;
}
	/*----1.3 text-align----*/
.align-right {
	text-align:right !important;
}
.align-left {
	text-align:left !important;
}
.align-center {
	text-align:center !important;
}
	/*----1.4 border----*/
.border-base,
.border-info,
.border-notice {
	margin:.5em 0;
	padding:6px;
}
.border-base {
	border:1px solid #ccc;
}
.border-info {
	border:1px solid #bc9b00;
	box-shadow:0 0 0 4px #fff5ce inset;
}
.border-notice {
	border:1px solid #a03;
	box-shadow:0 0 0 4px #fde5ec inset;
}

	/*----1.5 display----*/
.display-block {
	display:block !important;
}

	/*----1.6 list----*/
.ul-stylenone {
	list-style-type:none;
}

	/*----2.0 header and footer----*/
.header,
.footer {
	background-color: #013;
	color:#fff;
	overflow: hidden;
}
.header a,
.footer a {
	color:#fff;
}
	/*----2.1 header----*/

.pure-menu-heading img {
	width:100px;
}

/*----3.0 pager----*/
.pager-box {
	width:100%;
	background-color:#eee;
	font-size:1.2em;
	text-align:center;
}

/*----TOPPAGE ITEM LIST----*/
.item-list {
	padding:0 1em;
	width:100%;
	box-sizing:border-box;
	overflow:hidden;
}
.item-list div {
	margin:0;
	float:left;
}

/*----MYPAGE----*/
.box-mypage {
	margin:0;
	padding:0 1em;
}
.box-mypage h2 {
	padding:0 .5em;
	color:#249b53;
	font-size:1.15em;
}
.box-mypage ul {
	margin-start:-40px;
	-webkit-margin-start:-40px;
	-moz-margin-start:-40px;
	-o-margin-start:-40px;
	-ms-margin-start:-40px;
}
.ul-mypage {
	margin-start:-40px;
	-webkit-margin-start:-40px;
	-moz-margin-start:-40px;
	-o-margin-start:-40px;
	-ms-margin-start:-40px;

}
.ul-comment-list li {
	margin:.5em 0;
	padding:.5em 0;
}
.ul-comment-list li:not(:last-child) {
	border-bottom:1px solid #ccc;
}
.ul-mypage li {
	margin:0 .5em;
	padding:.5em 0;
}
.ul-mypage li:not(:last-child) {
	border-bottom:1px solid #ccc;
}

/*----SEARCHRESULT----*/
.searchresult-title {
	margin-bottom:1em;
	border-bottom:1px solid #ccc;
}
.searchresult-widget {
	border-right:1px solid #ccc;
	box-sizing:border-box;
}
.searchresult-items {
	overflow:hidden;
}
.searchresult-item {
	width:200px;
	margin:1em;
	float:left;
	overflow:hidden;
}
.searchresult-item * {
	margin:0;
}
.searchresult-item img {
	width:200px;
}
/*----CONTROLROOM----*/
.control h3 {
	margin-left:1em;
}
.control-delinquent-lists {
	list-style-type:none;
	padding-start: 1em;
	-webkit-padding-start: 1em;
	-moz--padding-start: 1em;
	-ms-padding-start: 1em;
	-o-padding-start: 1em;

}
.control-delinquent-lists li {
	margin:.32em 0;
	padding:.32em 0;
	border-top:1px solid #ccc;
}
.control-delinquent-lists li:last-child {
	border-bottom:1px solid #ccc;
}

.b-control-username {
	margin:0 1em;
}

.content-wrap{
	margin: 0 1em;
}
.b-box{
	margin:0 2em;
	padding:1em 0;
	background-color:#fff;
}
.b-box-img img{
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%); /* Safari用 */
}
.b-box-p-h-1{
	padding-right:1em;
	padding-left:1em;
	box-sizing:border-box;
}
.b-box-p-v-1{
	padding-top:1em;
	padding-bottom:1em;
	box-sizing:border-box;
}

.b-h-mid{
	margin:0 auto;
}
.button-10{
	width:10em;
}
.buttom-m-v-05{
	margin-top: .5em;
	margin-bottom: .5em;
}
.button-m-h-center{
	margin-left: auto;
	margin-right: auto;
}
.b-align-center{
	text-align:center;
}

.item-main-img{
	height: 250px;	
}

.status {
	font-weight:bold;
}

.status.color-success{
	color:#008a00!important;
}
.status.color-state{
	color:#c45500!important;
}
.status.color-price{
	color:#b12704!important;
}

.cf img {
	width:150px;
	margin:0 auto;
	display:block;
}

.cart-box {
	min-width:280px;
	margin:1em;
	border:1px solid #ddd;
	border-radius: 10px;
	text-align:center;
}

.cart-box a {
	width:75%;
	margin:.32em 0;
}

	/*----login----*/
	.form-login{
		width: 100%;
	}
	
.item-container {
	margin:20px;
	padding:15px;
	background-color:#E6E6E6;
}

dt:first-letter {
	font-size: 1.5em;
}
summary {
	cursor:pointer;
}